<div class="page" id="about" fxLayout>
  <div fxFlex="1 10 20"></div>
  <div fxLayout="column" fxLayoutGap="80px" fxFlex="1 1 60">
    <div
      fxLayout
      fxLayout.lt-md="column"
      fxLayoutAlign="center center"
      fxLayoutGap="24px"
    >
      <div
        class="profile-picture"
        data-aos="fade-up"
        data-aos-duration="1000"
        data-aos-easing="ease-in"
      >
        <img src="assets/images/profile-picture.jpg" alt="profile picture" />
      </div>
      <div
        class="color-white text-align-center"
        fxLayout="column"
        fxLayoutAlign="center center"
        fxLayoutGap="8px"
        data-aos="fade-up"
        data-aos-duration="1500"
        data-aos-easing="ease-in"
      >
        <div>2 years of proven, professional experience</div>
        <mat-divider></mat-divider>
        <div>Able to utilize new concepts and frameworks within a few days</div>
        <mat-divider></mat-divider>
        <div>
          Thrive in all team sizes from solo development to 15 engineers
        </div>
        <mat-divider></mat-divider>
        <div>
          High-profile clients such as Facebook and Hawaii Department of
          Education
        </div>
        <mat-divider></mat-divider>
        <div>Principal developer of 6 modules and 4 applications</div>
      </div>
    </div>
    <div fxLayout>
      <div fxFlex="1 10 25" fxFlex.lt-sm="1 1 0"></div>
      <div
        class="color-white"
        fxLayout="column"
        fxLayoutGap="40px"
        fxFlex="1 1 50"
        fxFlex.lt-sm="1 1 100"
      >
        <div
          class="text-indent"
          data-aos="fade-up"
          data-aos-duration="1000"
          data-aos-easing="ease-in"
        >
          Hello world! My name is Ki Jung Kim, but feel free to call me Ki
          ("key"). I am currently living in Hawaii, but open to relocate
          anywhere in the world!
        </div>
        <div
          class="text-indent"
          data-aos="fade-up"
          data-aos-duration="1000"
          data-aos-easing="ease-in"
        >
          I've always been an eager learner of technology and an advocate for
          perfection: Coming from 10 years of customer service and business
          management background, the integration of performance-driven,
          efficient code with UI/UX in mind came naturally.
        </div>
        <div
          class="text-indent"
          data-aos="fade-up"
          data-aos-duration="1000"
          data-aos-easing="ease-in"
        >
          As a problem solver, my ability to adapt to the situation and provide
          a well thought-out solution is my greatest strength. As a programmer,
          coupling my problem solving skills with my passion for best-practices
          lets me create simple and efficient solutions to complex problems.
        </div>
        <div
          class="text-indent"
          data-aos="fade-up"
          data-aos-duration="1000"
          data-aos-easing="ease-in"
        >
          My coding motto is "A little learning is a dangerous thing." I believe
          it is imperative as a professional to strive for deep, fundamental
          understanding of the subject: It is with this philosophy from
          Alexander Pope in mind, that I study and write code.
        </div>
        <div
          class="text-indent"
          data-aos="fade-up"
          data-aos-duration="1000"
          data-aos-easing="ease-in"
        >
          I am currently deep-diving into Test-Driven-Development (TDD) and new
          frameworks. If you want to know more about what I'm into these days,
          feel free to connect with me!
        </div>
      </div>
      <div fxFlex="1 10 25" fxFlex.lt-sm="1 1 0"></div>
    </div>
  </div>
  <div fxFlex="1 10 20"></div>
</div>
