<div id="home" fxLayout fxLayoutAlign="center center">
  <div
    class="loader"
    data-aos="fade-right"
    data-aos-duration="1000"
    data-aos-easing="ease-in"
  >
    <div class="inner one"></div>
    <div class="inner two"></div>
    <div class="inner three"></div>
  </div>
  <div class="color-white" fxLayout="column" fxLayoutAlign="center start">
    <div
      class="font-38 font-bold"
      data-aos="fade-left"
      data-aos-duration="1500"
      data-aos-easing="ease-in"
    >
      Ki Jung Kim
    </div>
    <div
      class="font-24"
      data-aos="fade-left"
      data-aos-duration="1000"
      data-aos-easing="ease-in"
    >
      Software Developer
    </div>
  </div>
</div>
