/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

// Page padding
.page {
  padding-top: 120px;
  padding-bottom: 120px;
}

// Icon
.icon {
  cursor: pointer;
}

.icon-display-half {
  transform: scale(0.7);
}

.icon-display-one-half {
  transform: scale(1.5);
}

.icon-display-double {
  transform: scale(2);
}

.icon-background {
  position: relative;

  height: 72px;
  width: 72px;

  background: white;

  border-radius: 50%;

  margin: 12px;

  filter: grayscale(90%);

  &::after {
    content: "";

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 110%;

    padding-bottom: 110%;

    box-shadow: inset 0px 0px 4px 4px #242322;

    border-radius: 50%;
  }

  &:hover {
    filter: grayscale(0);
    box-shadow: 0 0 4px 4px white;
  }
}

// Text
.text-indent {
  text-indent: 32px;
}

.text-align-center {
  text-align: center;
}

.color-white {
  color: white;
}

.font-38 {
  font-size: 38px;
}

.font-24 {
  font-size: 24px;
}

.font-12 {
  font-size: 12px;
}

.font-bold {
  font-weight: bold;
}

// Material Resets
.mat-tab-nav-bar {
  background: rgba(0, 0, 0, 0.8);

  .mat-tab-link {
    color: white;
  }

  .mat-ink-bar {
    background-color: white !important;
  }
}

.mat-tab-header-pagination-chevron {
  border-color: rgba(255, 255, 255, 0.5);
}

.mat-divider {
  width: 60%;
  border-top-color: rgba(255, 255, 255, 0.5);
}

// Scroll reset for dialogs
.cdk-global-scrollblock {
  position: static !important;
  width: initial !important;
  overflow-y: inherit !important;
}
